<%- include("partials/header") -%>

<h1>Home</h1>
<p> <%= StartingContent %></p>

<%  newPost.forEach((pp)=>{ %>
  <h2><%=pp.title %></h2>
  <p> <%= pp.content %></p>


<% });  %>


<%- include("partials/footer") -%>
